<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:config>
        <aop:aspect id="log" ref="xml-logging">
            <aop:pointcut id="selectAll"
                          expression="execution(* com.classes.Person.*(..))"/>
            <aop:before pointcut-ref="selectAll" method="beforeAdvice"/>
            <aop:after pointcut-ref="selectAll" method="afterAdvice"/>
            <aop:after-returning pointcut-ref="selectAll" method="afterReturningAdvice"
                                 returning="retVal"/>
            <aop:after-throwing pointcut-ref="selectAll" method="afterThrowingAdvice"
                                throwing="ex"/>
            <aop:around pointcut-ref="selectAll" method="aroundAdvice"/>
        </aop:aspect>
    </aop:config>

    <!-- required for Annotation -->
    <aop:aspectj-autoproxy/>

    <bean id="person" class="com.classes.Person">
        <constructor-arg type="Integer" value="20"/>
        <constructor-arg type="String" value="Alex"/>
    </bean>

    <bean id="xml-logging" class="com.aspects.LoggingXMLAspect"/>

    <bean id="aspect-logging" class="com.aspects.LoggingAnnotationAspect"/>

    <bean id="custom-annotated-logging" class="com.aspects.CustomAnnotatedAspect"/>
</beans>